// 主色
$c-primary-darker = #248363
$c-primary-normal = #01bd73
$c-primary-background = #eaedf2

// 辅组色
$c-orange = #feb131
$c-red = #f97272
$c-blue = #4cb5f6
$c-green = #5bcf98
$c-aquamarine = #5ccbce
$c-mustard-green = #d1d32c

// 字体颜色
$c-title = #333333
$c-body = #555555
$c-tips = #999999

// 分割线
$c-border = #e7e7e7

// 阴影
$c-box-shadow = 0 4px 8px #e7e7e7
